.about {
  padding-bottom: 94px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.about__item {
  margin: 15px;
  position: relative;
  width: calc((100% - 3 * 30px) / 3);
}
.about-list {
  display: flex;
  margin: -15px;
}
.services-images {
  max-width: 100%;
}
.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  color: var(--text-color);
}
.services__text--position {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .about {
//   padding-top: 0;
// }

// .about-list {
//   display: flex;
// }

// .about__item {
//   position: relative;

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }
