.about {
  padding-bottom: 94px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.about__item {
  margin: 15px;
  position: relative;
  width: calc((100% - 3 * 30px) / 3);
}
.about-list {
  display: flex;
  margin: -15px;
}



