.header-list {
  display: none;
  position: relative;
}

.header-contact-list {
  display: none;
}

.header {
  border-bottom: solid 1px #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-open-btn {
  align-items: center;
  background-color: transparent;
  border: none;
  line-height: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  .mobile-menu-list {
    margin-top: 48px;
  }
}

.current::after {
  @media screen and (min-width: 768px) {
    content: "";
    background-color: var(--accent-color);
    border-radius: 2px;
    justify-content: center;
    width: 100%;
    display: block;
    position: absolute;
    bottom: -1px;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transform: scaleX(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }
  .header-list {
    display: flex;
  }
  .header-nav {
    display: flex;
  }

  .header-contact-list {
    display: block;
  }
  .header-contact__item {
    display: flex;
    justify-content: flex-start;
  }

  .header-contact__icon-mail {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }

  .header-contact__icon-tel {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }

  .header-contact__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }

  .header-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .header-nav__link {
    position: relative;
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &.current {
      color: var(--accent-color);
    }
  }

  .header-logo {
    padding: 26px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 93px;
  }
  .header-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .header-contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .header-contact__item {
    display: block;
  }
  .header-contact__icon-tel {
    margin-left: 30px;
  }
  .header-contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
