.hero-list {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.hero__icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.hero__item {
  width: 270px;
  padding-left: 0;
  padding-right: 0;

  &:not(:first-child) {
    margin-left: 30px;
  }
}
.hero__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
