.masters {
  background-color: #f5f4fa;
}

.masters-list {
  @media screen and (min-width: 768px) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}
.masters__item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    max-width: 480px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
  }
}
.masters__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.masters__text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 16px;
}
.masters__description {
  padding: 24px;
}
